<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <h1 style="text-align:center">20 Questions</h1>
    <h2 style="text-align:center"> Chat Room: {{ room_name }}</h2>

    <section class="container forms">
        <div class="user-credentials">
            <p>Username: {{username }}</p>
            <p>Room Name: {{ room_name }}</p>
<!--                       <div id="role-selection">-->
<!--            <h3>Select your role:</h3>-->
            <div id="role-selection">
                <h3>Select your role:</h3>
                <button id="select_word">Select Word</button>
                <button id="ask_questions">Ask Questions</button>
            </div>
<!--            <button id="select_word">Select Word</button>-->
<!--            <button id="ask_questions">Ask Questions</button>-->
<!--            </div>-->
        </div>

        <div class="user-credentials">
            <h1>Players in the Lobby:</h1>
            <ul id="users-list"></ul>

            <div class="field button-field" style="text-align: center">
                <button style="text-align: center" id="start_game">Start Game</button>
            </div>
        </div>
    </section>
    
    <script>
        let theProtocol = window.location.protocol;
        const socket = io.connect(theProtocol + '//' + document.domain + ':' + location.port);
        const roomName = '{{ room_name }}';
        const username = '{{ username }}';
        let role = null;

        socket.emit('join_lobby', {'username': username, 'room_name': roomName});

        socket.on('update_users_list', function(usersList) {
            $('#users-list').empty();
            for (let user of usersList) {
                $('#users-list').append('<li>' + user + '</li>');
            }
        });

        // Role selection buttons
        $('#select_word').click(function (e) {
            e.preventDefault();
            role = 'select_word';
            socket.emit('select_role', {username: username, room_name: roomName, role: role});
            $('#role-selection').hide();
            $('#start_game').show();
            socket.emit('hide_select', {username: username, room_name: roomName, role: role});
        });

        $('#ask_questions').click(function (e) {
            e.preventDefault();
            role = 'ask_questions';
            socket.emit('select_role', {username: username, room_name: roomName, role: role});
            $('#role-selection').hide();
            $('#start_game').show();
            socket.emit('hide_ask', {username: username, room_name: roomName, role: role});
        });

        // Start game button
        $('#start_game').click(function (e) {
            e.preventDefault();
            if (role) {
                socket.emit('start_game', { room_name: roomName, role: role });
            } else {
                alert('Please select a role before starting the game.');
            }
        });
        

        socket.on('navigate_to_page3', function (data) {
            window.location.href = '/page3/' + roomName + '?username=' + encodeURIComponent(username) + '&role=' + encodeURIComponent(role);
        });
        socket.on('ask_gone', function() {
   
            $('#ask_questions').hide();
  
       });
       socket.on('select_gone', function() {
   
            $('#select_word').hide();

            });
    socket.on('auto_assign_role', function (data) {
        if (username === data.username) {
            role = data.role;
            $('#role-selection').hide();
            $('#start_game').show();
    }
   
});
    </script>
</body>
</html>
