<!--<html>-->
<!--<head>-->
<!--    <title>Main Page</title>-->
<!--    <link rel="stylesheet" type="text/css" href="style.css"/>-->

<!--    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" re1="stylesheet">-->
<!--</head>-->

<!--<body onload="welcome();">-->
<!--<h1 style="text-align:center">N-1 Questions</h1>-->
<!--<h2 style="text-align:center">Your word is: </h2>-->
<!--<h3 style="text-align:center"> </h3>-->
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" re1="stytlesheet">
</head>

<body onload="welcome();">
<h1 style="text-align:center">21 Questions</h1>

<section class="container-2">
    <div class="game-data">
        <h1 style="text-align:center">{{Current Question}} </h1>
        <br>
        <h3 style="text-align:center">Amount of Questions left:</h3>
        <form action="#">
                <div style="text-align:center" class="field button-field">
                    <button id="yes-button">YES</button>
                    <button id="no-button">NO</button>
                    <button id="maybe-button">MAYBE</button>
                    <button id="sometimes-button">SOMETIMES</button>
                </div>
        </form>
    </div>
</section>

<section class="container">
    <div class="chat-history">
        <h1>{{Chat History TBA}}</h1> <!--well fix this later-->
    </div>
</section>