<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" re1="stytlesheet">
</head>

<body onload="welcome();">
<h1 style="text-align:center">20 Questions by BecauseTheInternet</h1>
<h2 style="text-align:center"> Chat Room: {{ room_name }}</h2>
<!--User that is asking questions-->
<section class="container">
    <div class="container-2">
        <div class="game-data-answerer">
            <h1 style="text-align:center">{{Current Question}} </h1>
            <br>
            <h3 style="text-align:center">Amount of Questions left: {{counter}}</h3>
            <form >
                <div style="text-align:left">Enter Your Question Here:</div>
                <div class="field input-field">
                <input type="text" placeholder="Enter your question here" class="input">
                </div>
                <div class="field button-field">
                    <button type="submit">Submit</button> <!--fix-->
                </div>
            </form>
        </div>

        <div class="chat-history">
            <div  class="chat-text">{{Chat History TBA}}</div> <!--well fix this later-->
        </div>
    </div>
</section>

<!--<section class="container">-->
<!--    <div class="chat-history">-->
<!--        <h1>{{Chat History TBA}}</h1> &lt;!&ndash;well fix this later&ndash;&gt;-->
<!--    </div>-->
</section>
</body>
</html>